#!/bin/sh

#░█▀█░█░█░▀█▀░█▀█░░░░░█▀▀░█▀▀░█▀█░█▀▀░█▀▄░█▀█░▀█▀░█▀▀░█▀▄
#░█▀█░█░█░░█░░█░█░▄▄▄░█░█░█▀▀░█░█░█▀▀░█▀▄░█▀█░░█░░█▀▀░█░█
#░▀░▀░▀▀▀░░▀░░▀▀▀░░░░░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀░▀░▀░▀░░▀░░▀▀▀░▀▀░
# DO NOT UPDATE: This file is managed by "build-configs"

set -euxo pipefail

if [ "$1" == "start" ]; then
    yarn start
{%- if service.database %}
elif [ "$1" == "migrate" ]; then
    npx envsubh \
        --env POSTGRESQL_USER \
        --env POSTGRESQL_PASSWORD \
        --env POSTGRESQL_HOST \
        --env POSTGRESQL_PORT \
        --env POSTGRESQL_DBNAME \
        ormconfig.json.template ormconfig.json
    npx ts-node \
        --transpile-only \
        ./node_modules/typeorm/cli.js \
        migration:run
    rm -rf ./ormconfig.json
{%- endif %}
else
    echo "Invalid command provided."
    exit 1
fi
