  refresh:
    docker:
      - image: << pipeline.parameters.registry >>/<< pipeline.parameters.image_tag >>:${CIRCLE_SHA1}
        aws_auth:
          aws_access_key_id: $AWS_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_SECRET_ACCESS_KEY
    parameters:
      stack:
        type: string
    resource_class: {{ pulumi.resource_class | safe }}
    working_directory: /usr/src/app

    steps:
{%- if pulumi.eks_cluster != "" %}
      - run:
          name: Update kubeconfig
          command: just update-kubeconfig
{% endif %}
      - run:
          name: Refresh stack
          command: just refresh << parameters.stack >>

  preview:
    docker:
      - image: << pipeline.parameters.registry >>/<< pipeline.parameters.image_tag >>:${CIRCLE_SHA1}
        aws_auth:
          aws_access_key_id: $AWS_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_SECRET_ACCESS_KEY
    parameters:
      stack:
        type: string
    resource_class: {{ pulumi.resource_class | safe }}
    working_directory: /usr/src/app

    steps:
{%- if pulumi.eks_cluster != "" %}
      - run:
          name: Update kubeconfig
          command: just update-kubeconfig
{% endif %}
      - run:
          name: Preview stack
          command: just preview << parameters.stack >>

  update:
    docker:
      - image: << pipeline.parameters.registry >>/<< pipeline.parameters.image_tag >>:${CIRCLE_SHA1}
        aws_auth:
          aws_access_key_id: $AWS_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_SECRET_ACCESS_KEY
    parameters:
      stack:
        type: string
    resource_class: {{ pulumi.resource_class | safe }}
    working_directory: /usr/src/app

    steps:
{%- if pulumi.eks_cluster != "" %}
      - run:
          name: Update kubeconfig
          command: just update-kubeconfig
{% endif %}
      - run:
          name: Update stack
          command: just update << parameters.stack >>
