{% for environment in environments %}
      - refresh:
          name: refresh-{{ environment }}
          stack: {{ environment }}
          context:
            - altf4llc-aws
          requires:
            - build
{% endfor -%}
{% for environment in environments %}
      - preview:
          name: preview-{{ environment }}
          stack: {{ environment }}
          context:
            - altf4llc-aws
          requires:
            - refresh-{{ environment }}
{% endfor -%}
{% for environment in environments %}
      - update:
          name: update-{{ environment }}
          stack: {{ environment }}
          context:
            - altf4llc-aws
          filters:
            branches:
              only:
                - main
          requires:
            - preview-{{ environment }}
{% endfor -%}