name: build-and-release

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: cachix/install-nix-action@v20

    - uses: cachix/cachix-action@v12
      with:
        {% if product != "altf4llc" -%}
        authToken: {% raw %}${{{% endraw %} secrets.{{ product | upper }}_CACHIX_AUTH_TOKEN {% raw %}}}{% endraw %}
        name: {% raw %}${{{% endraw %} vars.{{ product | upper }}_CACHIX_CACHE_NAME {% raw %}}}{% endraw %}
        {%- else %}
        authToken: {% raw %}${{ secrets.CACHIX_AUTH_TOKEN }}{% endraw %}
        name: {% raw %}{{ CACHIX_CACHE_NAME }}{% endraw %}
        {%- endif %}

    - uses: actions/checkout@v3

    - name: Build binary
      run: |
        nix build --json > output.json

    - name: Cache binary
      run: |
        cat output.json \
          | jq -r '.[].outputs | to_entries[].value' \
          {% if product != "altf4llc" -%}
          | cachix push {% raw %}'${{{% endraw %} vars.{{ product | upper }}_CACHIX_CACHE_NAME {% raw %}}}'{% endraw %}
          {%- else %}
          | cachix push {% raw %}'${{ vars.CACHIX_CACHE_NAME }}'{% endraw %}
          {%- endif %}

    - name: Cache inputs
      run: |
        nix flake archive --json \
            | jq -r '.path,(.inputs|to_entries[].value.path)' \
            {% if product != "altf4llc" -%}
            | cachix push {% raw %}'${{{% endraw %} vars.{{ product | upper }}_CACHIX_CACHE_NAME {% raw %}}}'{% endraw %}
            {%- else %}
            | cachix push {% raw %}'${{ vars.CACHIX_CACHE_NAME }}'{% endraw %}
            {%- endif %}
